
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container{
  margin: 1rem 2rem;
  background-color: black;
  border-radius: 4px;
  height:85vh;
  border-width: 3px 8px 3px 3px;
  border-color: black;
  border-radius: 12px;
  border-style: solid;

 
}

.footer-container{
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  align-items: baseline;
}



